
<h1>Welcome to Armor!</h1>

<p>This is an example implementation of the <a href="https://github.com/apexpl/armor/" target="_blank">Armor package</a> for user and session management, utilizing the <a href="https://github.com/apexpl/syrus/">Syrus template engine</a>.  This is not intended for production purposes, and is intended only for demonstration purposes and also to supplement the extensive Armor documentation to aide while doing your own implementation.  This example site maya be downloaded on Github at:</p>

<blockquote><p><a href="https://github.com/apexpl/armor-syrus/" target="_blank">https://github.com/apexpl/armor-syrus/</a>.</p></blockquote>

<p>To continue, please either login or register for the demo site at the below links:</p>

<center><div style="padding: 20px;">
    <a href="/register" class="btn btn-primary btn-lg" style="margin-left: 30px;">Register</a>
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
</div></center>

<p>If you are by chance here looking for Syrus documentation and tag examples, please <a href="/syrus">click here</a>.


