
<h1>Register Now</h1>

<p>You may register for an account by completing the below form.</p>

<s:form action="/register2">

<s:form_table>
    <s:ft_textbox name="username" label="Desired Username">
    <s:ft_textbox name="password" type="password" label="Desired Password">
    <s:ft_seperator label="Contact Info">
    <s:ft_textbox name="email" label="E-Mail Address">
    <s:ft_phone name="phone" label="Phone (optional)">
    <s:ft_submit value="register" label="Register Now">
</s:form_table>


